{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}


<div class="container bg-dark mt-8">
    <div class="row gutters ">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ">
    <div class="card h-100 bg-dark">
        <div class="card-body ">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                        
                        <input type="file" class="file-uploader pull-left" value="{{ form.profile_picture }}">
                    </div>
                    <h5 class="user-name text-info">Pen Name</h5>
 
                    {{ form.pen_name }}
                </div>
                <div class="about">
                    <h5 class="text-info" >Group</h5>
                    
                    {{ form.group }}
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100 bg-dark">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary text-info">Personal Details</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group ">
                        <label for="fullName" class="text-white">Full Name</label>
                        <input type="text" class="form-control" id="full_name"  placeholder="Enter full_name" name="full_name" value="{{ form.full_name.value }}">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="eMail" class="text-white">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" value="{{ form.email.value }}">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone" class="text-white">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Enter phone number" name="phone" value="{{ form.phone.value }}">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="website" class="text-white">Age</label>
                        <input type="text" class="form-control" id="age" placeholder="Enter age" name="age" value="{{ form.age.value }}">
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mt-3 mb-2 text-info" >New Group</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Street" class="text-white">Street</label>
                        <input type="name" class="form-control" id="Street" placeholder="Enter Street">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="ciTy" class="text-white">City</label>
                        <input type="name" class="form-control" id="ciTy" placeholder="Enter City">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="sTate" class="text-white">State</label>
                        <input type="text" class="form-control" id="sTate" placeholder="Enter State">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="zIp" class="text-white">Zip Code</label>
                        <input type="text" class="form-control" id="zIp" placeholder="Zip Code">
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <button type="button" id="submit" name="submit" class="btn btn-danger btn-sm">cancel</button>
                        <button type="submit" id="submit" name="submit" class="btn btn-info btn-sm">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    
    

</form>

{% endblock %}